.Scoresheet{
    border: 3px solid rgba(255,255,255,0.33);
    border-radius: 5px;
    margin: 30px;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    font-family: "Barlow Semi Condensed";
}

.choices{
    color:white;
    text-transform: uppercase;
    margin: 2px;
    line-height: 0.9em; /* causes a small amount of space to appear below last <p> */
    font-weight: 600;
    /* border:1px solid white; */
}

.choices p{
    margin:0;
}

.score{
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 72px;
}

.score p{
    margin: 0;
    text-align: center;
    line-height: 1em;
}

.score .text{
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 12px;
}

.score .number{
    color: hsl(229, 25%, 31%);
    font-size: 3em;
    font-weight: 700;
}
