.Scoresheet{
    border: 3px solid rgba(255,255,255,0.33);
    border-radius: 10px;
    padding: 10px;
    height: 84px;
    display:flex;
    justify-content: space-between;
}

.choices{
    color:white;
    text-transform: uppercase;
    margin: 12px;
    line-height: 0.9em; /* causes a small amount of space to appear below last <p> */
    font-weight: 600;
    /* border:1px solid white; */
}

.choices p{
    margin:0;
}

.score{
    background-color: white;
    border-radius: 5px;
    height: 84px;
    width: 84px;
}

.score p{
    margin: 0;
    text-align: center;
    line-height: 1em;
}

.score .text{
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 13px;
    margin-bottom: 6px;
}

.score .number{
    color: hsl(229, 25%, 31%);
    font-size: 3em;
    font-weight: 700;
}

@media (orientation: landscape){
    .Scoresheet{
        width: 50vw;
        height: auto;
        margin: auto;
    }
    .choices{
        font-size: 1.5em;
    }
    .score{
        height: auto;
        width: 150px;
    }
    .score .text{
        font-size: 1.25em;
    }
    .score .number{
        font-size: 5em;
    }
}