.SelectionButton-container{
  /* width: 310px; */
  /* flex:2; */
  /* margin-top: 10px; */
  /* margin-bottom: 5vh; */
  margin-left:auto;
  margin-right:auto;
  max-height: 300px;
  transform-origin: center;
}

.SelectionButton-container .SelectionButton:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height:300px;
}

.row-container{
  width: inherit;
  background-image: url("./../images/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-size: 66.67%;
  background-position: center;
}

.row-container .row{
  display: flex;
  justify-content: space-between;
}

.row:nth-of-type(1) .SelectionButton{
  margin:auto;
  z-index: 1; /* this feels hacky; blocked by 2nd row otherwise */
}

.row:nth-of-type(2){
  transform: translateY(-14px);
}

.row:nth-of-type(3) .SelectionButton:nth-of-type(1){
  margin-left: 42px;
} 
.row:nth-of-type(3) .SelectionButton:nth-of-type(2){
  margin-right: 42px;
}

/* Can this be done better? Using scale feels rather hacky by breaking document flow. */
@media (orientation: portrait){
  .SelectionButton-container{
    margin-bottom: 0;
    margin-top: 10px;
  }

  @media (min-width: 440px) and (min-height: 620px){
    .SelectionButton-container{
      transform: scale(1.25);
    }
  }
  @media (min-width: 520px) and (min-height: 700px){
    .SelectionButton-container{
      transform: scale(1.5);
    }
  }
  @media (min-width: 600px) and (min-height: 780px){
    .SelectionButton-container{
      transform: scale(1.75);
    }
  }
  @media (min-width: 680px) and (min-height: 860px){
    .SelectionButton-container{
      transform: scale(2);
    }
  }
}

@media (orientation: landscape){
  .SelectionButton-container{
    margin-bottom: auto;
    margin-top: auto;
  }

  @media (min-height: 610px){
    .SelectionButton-container{
      transform: scale(1.25);
    }
  }
  @media (min-height: 690px){
    .SelectionButton-container{
      transform: scale(1.5);
    }
  }
  @media (min-height: 770px){
    .SelectionButton-container{
      transform: scale(1.75);
    }
  }
  @media (min-height: 850px){
    .SelectionButton-container{
      transform: scale(2);
    }
  }
}