.Versus-container{
    margin-top: 50px;
    flex:2;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    display:flex;
    flex-direction: column;
}

.choices-container{
    display:flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
}

.choice{
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    flex-basis: 50%;
    color:white;
}

.choice .SelectionButton{
    margin: auto;
}

.result-container{
    flex:1;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-container p{
    font-size: 3.5em;
    margin: 0.5em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color:white;
}

.result-container .play-again{
    background-color: white;
    text-align: center;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 50%;
    padding: 15px 30px;
    border-radius: 8px;
    color: hsl(229, 25%, 31%);
}

@media (orientation: landscape){
    .Versus-container{
        width:70%;
        margin: auto;
    }
    .choice{
        flex:1;
        white-space: nowrap;
    }
    .result-container{
        flex:2;
        margin: 0 75px;
        z-index: 1;
    }

    @media (min-width: 800px) and (min-height: 380px){
        .choice{
        transform: scale(1.5);
    }
    }
    @media (min-width: 960px) and (min-height: 440px){
        .choice{
        transform: scale(2);
        }
    }
    @media (min-width: 1120px) and (min-height: 520px){
        .choice{
        transform: scale(2.5);
        }
    }
    @media (min-width: 1280px) and (min-height: 600px){
        .choice{
        transform: scale(3);
        }
    }
}